*.bak
*.cache
*.db
*.gz
*.lck
*.log
*.sqlite
*.mmdb

plugins/AntiCheatReloaded/
plugins/bStats/
plugins/PluginMetrics/
plugins/DiscordSRV/.token
plugins/DiscordSRV/linkedaccounts.json
plugins/Essentials/spawn.yml
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/Essentials/warps/
plugins/GriefPreventionData/ClaimData/
plugins/GriefPreventionData/Logs/
plugins/GriefPreventionData/PlayerData/
plugins/WorldEdit/schematics/
plguins/WorldEdit/sessions/
plugins/WorldGuard/worlds/
plugins/WorldGuard/cache/
plugins/LuckPerms/libs
plugins/LuckPerms/contexts.json
plugins/LWC/
plugins/Plan/
plugins/ProtocolLib/
plugins/QuickShop/cache
plugins/QuickShop/enchi18n.yml
plugins/QuickShop/example.config.yml
plugins/QuickShop/itemi18n.yml
plugins/QuickShop/messages.json
plugins/QuickShop/potioni18n.yml

!plugins/LuckPerms/*.mv.db
